@page "/"

<PageTitle>Index</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Home</MudText>

<div class="ma-2">
    <MudButton StartIcon="@Icons.Material.Outlined.AddBox" Color="Color.Primary">New task</MudButton>
</div>

<MudPaper Class="pa-4">
    <MudStack Row="true">
        <MudAvatar Color="Color.Primary" Size="Size.Large">H</MudAvatar>
        <MudStack Justify="Justify.Center" Spacing="0">
            <MudText Typo="Typo.body1">Mony Larsson</MudText>
            <MudText Typo="Typo.body2">onebiteonekill@mony.dog</MudText>
        </MudStack>
    </MudStack>
</MudPaper>


<MudList Clickable="false">
    @foreach (var todoItem in _todoItems)
    {
        @if (todoItem.IsDone)
        {
            <MudPaper Class="pa-2 ma-2 cursor-default" Outlined="true">
                <MudListItem OnClick="(() => UpdateItem(todoItem))" Icon="@Icons.Material.Filled.CheckBox" IconColor="Color.Primary"
                             Class="rounded" Style="text-decoration: line-through;">
                    @todoItem.Task
                </MudListItem>
            </MudPaper>
        }
        else
        {
            <MudPaper Class="pa-2 ma-2 cursor-default" Outlined="true">
                <MudListItem OnClick="(() => UpdateItem(todoItem))" Icon="@Icons.Material.Filled.CheckBoxOutlineBlank" IconColor="Color.Primary">
                    @todoItem.Task
                </MudListItem>
            </MudPaper>
        }
    }
</MudList>


@code {
    public class TodoItem
    {
        public bool IsDone { get; set; }
        public string Task { get; set; } = string.Empty;
    }

    public List<TodoItem> _todoItems = new List<TodoItem>
    {
        new TodoItem { IsDone = true, Task = "Go the market" },
        new TodoItem { IsDone = false, Task = "Read EFCore Database book" }
    };

    private void UpdateItem(TodoItem item)
    {
        item.IsDone = !item.IsDone;
        //StateHasChanged();
    }

    private void AddTodoItem()
    {

    }
}